<h1>Lawyer's list</h1>

<h1>Lawyer</h1>
<form  action="/deadoralive" method="POST">
      <div class="u-form-group">
        <input type="username" placeholder="UserName" name="username"/>
      </div>
      <div class="u-form-group">
        <input type="number" placeholder="ContactNumber" name="ContactNumber"/>
      </div>
      <div class="u-form-group">
        <input type="email" placeholder="ContactEmail" name="ContactEmail"/>
      </div>
      <div class="u-form-group">
        <button>SubMit</button>
      </div>
</form>